.logo
{
    background-image: url("../Maquettes/images/logo/ohmyfood.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    height: 60px;
    width: 100%;

    a 
    {
        height: 100%;
    }
}
@media (min-width: 768px) and (max-width: 1024px)
{
    .logo
    {
        height: 150px;
    }
}
@media (min-width: 1281px) 
{
   .logo
   {
       width: 50%;
       height: 150px;
       margin: 0 25%
   }
}

