#logo
{
    background-image: url("../Maquettes/images/logo/ohmyfood.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    height: 60px;
    width: 100%;

    a 
    {
        height: 100%;
    }
}

