@import "_variables.scss";
@import "header.scss";
@import "home.scss";
@import "footer.scss";
@import"restaurants.scss";
@import"_keyframes.scss";
body
{
    width: 100%;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    a
    {
        text-decoration: none;
    }
}

.far.fa-heart
{
    :active
    {
        background-color: blueviolet;
    }
}





